body{
    background-color:darksalmon;
    text-align: center;
    
}
input, textarea {
    width: 300px;
    padding: 8px;
    margin-bottom: 10px;
   }
   
   button {
    padding: 10px 15px;
    background-color: darkcyan;
    color: white;
    border: none;
   }
   
   button:hover {
    background-color: green;
   }
   
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: darkcyan;
    display:flex;
    justify-content: center;
    position: sticky;
    top: 0;
    

}
ul li a{
    display:block;
    color:aliceblue;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover{
    background-color: green;
}
/* Add a lightgray right border to all list items, except the last */
ul li {
    float: left;
    border-right: 1px solid #bbbbbb;
  }
  
  ul li:last-child {
    border-right: none;
  }